altair==5.4.1
annotated-types==0.7.0
appdirs==1.4.4
arrow==1.3.0
astor==0.8.1
asttokens==2.4.1
attrs==24.2.0
backoff==2.2.1
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
dateutils==0.6.12
decorator==5.1.1
duckdb==1.1.0
executing==2.1.0
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.0
gw_dsl_parser==0.1.49.1
idna==3.8
importlib_resources==6.4.5
ipylab==1.0.0
ipython==8.27.0
ipywidgets==8.1.5
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyterlab_widgets==3.0.13
kanaries_track==0.0.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdurl==0.1.2
monotonic==1.6
narwhals==1.6.4
numpy==1.26.4
packaging==24.1
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
prompt_toolkit==3.0.47
protobuf==5.28.0
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pydantic==2.9.1
pydantic_core==2.23.3
pydeck==0.9.1
Pygments==2.18.0
pygwalker==0.4.9.8
python-dateutil==2.9.0.post0
pytz==2024.2
quickjs==1.19.4
referencing==0.35.1
requests==2.32.3
rich==13.8.1
rpds-py==0.20.0
segment-analytics-python==2.2.3
six==1.16.0
smmap==5.0.1
SQLAlchemy==2.0.34
sqlglot==25.20.1
stack-data==0.6.3
streamlit==1.38.0
tenacity==8.5.0
toml==0.10.2
tornado==6.4.1
traitlets==5.14.3
types-python-dateutil==2.9.0.20240906
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
wasmtime==24.0.0
watchdog==4.0.2
wcwidth==0.2.13
widgetsnbextension==4.0.13
